/* TEMPORARILY */

/* body::after {
  content: "";
  display: block;
  width: 1660px;
  height: 3207px;
  background-image: url(https://raw.githubusercontent.com/netology-code/html-2-diploma/master/sources/NOEMI_Modern_ru.jpg);
  position: absolute;
  top: 0;
  left: calc(50% - 830px);
  opacity: 0.6;
  z-index: 999;
} */

    /* common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
}
  
@font-face {
    font-family: "OpenSans-Bold";
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 400;
    font-style: bold;
}
  
    /* header */
  
.header {
    background-image: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    position: relative;
    z-index: 0;
    padding: 27px 0;
    margin-bottom: 64px;
}
  
.header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}
  
.header-wrapper {
    max-width: 1200px;
    margin: auto;
}
  
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.menu-burger {
    display: none;
}

.header-logo {
    width: 183px;
}
  
.header-menu {
    margin: 0;
    box-sizing: border-box;
}
  
.menu-list {
    list-style: none;
    display: flex;
    align-items: center;
}
  
.menu-list-item:nth-child(n + 2) {
    margin-left: 35px;
}
  
.menu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    font-family: "OpenSans-Regular", sans-serif;
}
  
.welcome-title {
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
    line-height: 75px;
    color: #ffffff;
    max-width: 725px;
    margin: auto;
    padding: 100px 0;
}


@media (max-width: 1200px) {

    .menu {
        padding-right: 4%;
        padding-left: 4%;
    }

    .header-wrapper {
        width: 100%;
        margin: auto;
    }

    .header-menu {
        display: none;
    }

    .header-logo {
        width: 158px;
    }

    .menu-burger {
        position: relative;
        width: 23px;
        height: 19px;
        display: block;
        margin-right: 0;
    }

    .menu-burger span, .menu-burger::after, .menu-burger::before {
        height: 3px;
        width: 100%;
        position: absolute;
        background: #ffffff;
        margin: 0 auto;
    }

    .menu-burger span {
        top: 8px;
    }

    .menu-burger::after, .menu-burger::before {
        content: '';
    }

    .menu-burger::after {
        bottom: 0;
    }

    .menu-burger::before {
        top: 0;
    }

}

@media (max-width: 640px) {
    
}

    /* trends */

.trends {
    min-height: 392px;
    margin: 64px 0;
}

.trends-title {
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.trends-title::after {
    content: "";
    display: block;
    position: relative;
    margin-top: 14px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 28px;
    width: 67px;
    height: 3px;
    background: #b59f5b;
}

.trends-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.trend {
    display: flex;
    height: 320px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    position: relative;
    z-index: 0; 
    align-items: flex-end;
    margin-bottom: 4px;
    
}

.trend-img {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;

}

.trend:nth-child(-n+3) {
    margin-right: 4px;
}

.trend::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}

.trend-text {
    width: 90%;
    border: 3px solid #b59f5b;
    padding: 36px 32px;
    margin-top: 90%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
}

.trend-tag {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
    display: flex;
}

.trend-tag-item {
    margin-right: 20px;
}

.trend-tag-link {
    text-decoration: none;
    font-family: "OpenSans-Bold", sans-serif;
    text-transform: uppercase;
    color: #b59f5b;
    font-size: 14px;
    
}

.trend-name {
    font-family: "OpenSans-Bold", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2;
}

.trend-link {
    color: #ffffff;
    margin-bottom: 37px;
}

@media (max-width: 1200px) {
    
    .trends-section {
        flex-wrap: wrap;
    }

    .trend {
        max-width: calc(50% - 2px);
    }

    .trend:nth-child(even) {
        margin-right: 0;
    }
}

@media (max-width: 640px) and (orientation: landscape) {

    .trends-section {
        flex-wrap: wrap;
    }

    .trend {
        max-width: calc(50% - 4px);
    }

    .trend:nth-child(even) {
        margin-right: 4px;
    }
}

@media (max-width: 640px) and (orientation: portrait) {

    .trends-section {
        flex-wrap: wrap;
        max-width: 100%;
    }

    .trend {
        margin-right: 0;
        max-width: 100%;
        min-width: 100%;
    }

    .trend:nth-child(-n + 3) {
        margin-right: 0;
    }

}

    /* main */
  
.page {
    margin-top: 64px;
}
  
.page-wrapper {
    width: 1200px;
    margin: auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}
  
.main {
    width: 785px;
}
  
.news {
    display: flex;
}
  
.news:nth-child(n+2) {
    margin-top: 61px;
}
  
a {
    text-decoration: none;
    color: #0f0d0e;
}
  
.news-img {
    display: block;
}
  
.news-text {
    margin-left: 30px;
}
  
.news-tag-list {
    list-style: none;
    padding: 0;
    margin-bottom: 6px;
    display: flex;
}
  
.news-tag-item {
    margin-right: 20px;
}
  
.news-tag-link {
    text-decoration: none;
    font-family: "OpenSans-Bold", sans-serif;
    text-transform: uppercase;
    color: #b59f5b;
    font-size: 14px;
}
  
.news-title {
    font-family: "OpenSans-Bold", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 26px;
}
  
.date {
    font-family: "OpenSans-Regular", sans-serif;
    color: #888888;
    font-size: 12px;
}
  
.author {
    font-family: "OpenSans-Bold", sans-serif;
    color: #000000;
    font-size: 12px;
    margin-left: 9px;
}
  
.news-about {
    font-family: "OpenSans-Regular", sans-serif;
    margin-top: 47px;
}
  
.news-about > p {
    font-size: 15px;
    line-height: 22px;
    margin: 0;
}
  
.news-about > p:nth-child(n+2) {
    margin-top: 9px;
}

@media (max-width: 1200px) {

    .page-wrapper {
        width: 100%;
        padding: 0 35px;
    }

    .news {
        flex-direction: column;
        padding-right: 35px;

    }

    .news-img {
        width: 100%;
    }

    .news-text {
        padding-top: 15px;
        margin-left: 0;
        padding-bottom: 20px;
        border-bottom: #eeeeee solid 3px;
    }

    .news-tag-list {
        margin-bottom: 17px;
    }

    .news-title {
        margin-bottom: 40px;
    }

    .news-about {
        margin-top: 37px;
    }
}
  
    /* aside */
  
.aside-column {
    width: 272px;
}
  
.aside-section:nth-child(n+2) {
    margin-top: 50px;
}
  
.aside-title {
    text-align: center;
    margin-bottom: 0;
    font-family: "OpenSans-Bold", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
}
  
.aside-title::after {
    content: "";
    display: block;
    position: relative;
    margin-top: 7px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 29px;
    width: 66px;
    height: 3px;
    background: #b59f5b;
}
  
.aside-post:nth-child(n+1) {
    display: flex;
    margin-top: 18px;
}
  
.aside-post-img {
    display: block;
}
  
.aside-post-description {
    margin-left: 18px;
}
  
.aside-post-description .date {
    margin-top: 0;
    margin-left: 0;
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #000000;
    opacity: 0.54;
}
  
.aside-post-title {
    margin-bottom: 0;
    font-family: "OpenSans-Bold", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
}
  
    /* search */
  
.search {
    margin-top: 60px;
    display: flex;
    width: 100%;
}
  
.visually-hidden-text {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
  
.visually-hidden-icon {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}
  
.search-field {
    box-sizing: border-box;
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 8px;
    width: 222px;
    height: 47px;
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 13px;
    border: none;
    outline: 0;
    background-color: #f4f7f6
}
  
.search-button {
    border: none;
    width: 47px;
    margin-bottom: 8px;
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    background-color: #b59f6b;
}
  
    /* mailing */
  
.mailing-field {
    box-sizing: border-box;
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 0;
    width: 272px;
    height: 48px;
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 13px;
    border: 0;
    outline: 0;
    background-color: #f4f7f6;
}
  
.mailing-button {
    margin-top: 18px;
    margin-bottom: 5px;
    height: 48px;
    border: 0;
    width: 272px;
    background-color: #b59f5b;
    font-family: "OpenSans-Bold", sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 13px;
}
  
    /* tags */
  
.aside-tag-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 27px;
}
  
.aside-tag-item {
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 5px;
    margin-bottom: 15px;
}
  
/* .aside-tag-item:nth-child(n + 4) {
    margin-top: 3px;
} */
  
.aside-tag-link {
    height: 29px;
    margin-bottom: 7px;
    align-items: center;
    align-content: space-between;
    text-decoration: none;
    font-family: "OpenSans-Bold", sans-serif;
    text-transform: uppercase;
    color: #0f0d0e;
    font-size: 12px;
    border: 3px solid #f4f3f1;
    padding: 5px 11px;
}
  
    /* themes */
  
.aside-theme-list {
    list-style: none;
}
  
.aside-theme-item {
    margin-top: 13px;
    margin-left: 3px;
}
  
.aside-theme-item::after {
    content: "";
    display: block;
    position: relative;
    margin-top: 14px;
    width: 100%;
    height: 1px;
    background: #eeeeee;
}
  
.aside-theme-link {
    align-items: center;
    align-content: space-between;
    text-decoration: none;
    font-family: "OpenSans-Bold", sans-serif;
    color: #000000;
    font-size: 14px;
    padding: 0;
}
  
.aside-theme-count {
    display: inline-block;
    vertical-align: top;
    color: #b59f5b;
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 10px;
}

    /* products */

.products {
    height: 512px;
    width: 1170px;
    margin: 64px auto;
}

.products-title {
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.products-title::after {
    content: "";
    display: block;
    position: relative;
    margin-top: 14px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 28px;
    width: 67px;
    height: 3px;
    background: #b59f5b;
}

.products-section {
    display: flex;
    flex-direction: row;
}

.product {
    display: flex;
    height: 440px;
    width: 100%;
    position: relative;
    z-index: 0; 
    align-items: flex-end;
}

.product:nth-child(2) {
    margin: 0 65px;
}

.product-text {
    height: 267px;
    width: 100%;
    border: 3px solid #b59f5b;
}

.product-image {
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    height: 204px;
    width: 300px;
    position: relative;
    margin: -173px auto 25px;
    z-index: -1;
}

.product-name {
    font-family: "OpenSans-Bold", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1;
}

.product-link {
    color: #0f0d0e;
    margin-left: 20px;
}

.product-description {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 15px;
    line-height: 22px;
    margin: 4px 20px;
}

.product-description-link {
    color: #b59f5b;
}

.product-shop {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 20px;
}

.product-shop-prices {
    font-family: "OpenSans-Bold", sans-serif;
    line-height: 1;
}

.product-price-old {
    margin-top: 8px;
    font-size: 14px;
    text-decoration: line-through;
}

.product-price-new {
    font-size: 20px;
}

.product:nth-child(2) .product-price-new {
    font-size: 20px;
    margin-top: 20px;
}

.product-shop-button {
    height: 48px;
    border: 0;
    width: 140px;
    background-color: #b59f5b;
    font-family: "OpenSans-Bold", sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    margin-right: 20px;
}

@media (max-width: 1200px) {
    .products {
        width: 100%;
        height: 100%;
        padding: 0 35px;
    }

    .products-section {
        flex-wrap: wrap;
    }

    .product {
        max-width: calc(48%);
        margin-bottom: 27px;
    }

    .product:nth-child(2) {
        margin: 0;
    }

    .product:nth-child(odd) {
        margin-right: auto;
    }

}

    /* footer */
  
.footer {
    margin-top: 70px;
}
  
.footer-wrapper {
    width: 1200px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
}
  
.footer-address {
    margin-bottom: 20px;
    background-color: #f4f7f6;
}
  
.footer-social-list {
    list-style: none;
    display: flex;
    justify-content: center;
}
  
.footer-social-icon {
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    padding: 40px 23px;
}
  
.footer-social-twitter {
    background-image: url(../svg/004-twitter.svg);
}
  
.footer-social-pinterest {
    background-image: url(../svg/001-pinterest.svg);
}
  
.footer-social-facebook {
    background-image: url(../svg/002-facebook-logo.svg);
}
  
.footer-social-instagram {
    background-image: url(../svg/005-instagram.svg);
}
  
.footer-social-tumblr {
    background-image: url(../svg/003-tumblr.svg);
}
  
.footer-copyright {
    display: block;
    margin-top: 70px;
    text-decoration: none;
    color: #999999;
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 12px;
    text-align: center;
}

@media (max-width: 1200px) {

    .footer-wrapper {
        width: 100%;
        padding: 0 35px;
    }
}